
.img{

    background-image: url("\\sysprofiles.adm.vvsu.ru\STUDENTRPROFILES$\k3v1ch\Desktop\html css\Новая папка\img\pon.jpg");

    background-size: no-repeat;

    background-position: center;

    background-size: cover;

    height: 400px;

    width: 400px;

}